.graphic, .button, .switch {
	background-repeat: no-repeat; position: absolute;
}

.text {
	position: absolute;
}

#spud_container {
	position: relative;
}

#background {
	width: 620px; height: 600px;
	top: 0px; left: 0px;	
}

#board { 
	width: 620px; height: 600px;
	top: 0px; left: 0px; 
}

#bell {
	width: 182px; height: 177px;
	top: 197px; left: 21px;
}

#powerSwitch {
	width: 68px; height: 134px;
	top: 56px; left: 54px;
}

#resetButton { 
	width: 139px; height: 65px; 
	top: 308px; left: 278px;
}

#stepButton { 
	width: 139px; height: 65px;  
	top: 250px; left: 417px; 
}

#runButton { 
	width: 139px; height: 65px; 
	top: 250px; left: 278px; 
}

#chipLabel {
	top: 152px; left: 325px;
	width: 150px;
	font-family: 'LastWordsThin';
 	font-size: 10pt;
 	color: #BFBFBF;
   text-align: center;
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=70);
}

#outputLCD {
	top: 425px; left: 55px;
	width: 510px; height: 93px;
	font-family: 'LCDDotRegular'; 
   font-size: 20pt;
	color: #000;
	overflow: auto;
	opacity: 0.6;
	-moz-opacity: 0.6;
	filter:alpha(opacity=60);
}

#uploadText {
    border:1px solid #666;
    resize: none;
}

.registerInput {
   width: 30px;
}

.memoryInput {
   width: 30px;
}

#buttons {
   position: absolute;
   top: 0px;
   left: 20px;
   width:600px;
   text-align:center;
}

#memoryOverlay {
   position:absolute;
   top:60px;
   left:620px;
   background-color: #efe;
   border:1px solid #444;
   border-radius:8px;
   padding:10px;
}

#uploadButton,
#internalStateViewButton,
#referenceButton {
	background-color: #f0f0f0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ffffff,  #f0f0f0); /* for firefox 3.6+ */
	
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	color: #000 !important;
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 12px;
	padding: 2px 6px;
}